
*{
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    text-size-adjust: auto;
    align-self: center;
}
.titulo {
    color: white;
    font-weight: 100;
    font-stretch: wider;
    margin-top: 15px;    
    text-align: center;
    text-size-adjust: auto;
}
.Descripcion{
    margin: 0px aut;
    text-align: center;
    text-size-adjust: auto;
    background-color: whitesmoke;
}
.Contenedor {
    width: 50%;
    height: 300px;
    float: none;   
    background-color: whitesmoke;
    margin: 0.5em auto;
    padding: 1em;
}
.Cuadros {
    width: 100%;
    height: 200px;
    background-color: white;
    margin: auto;
    border-radius: 1em;
    text-align: center;
}
.Boton{
    width: 45%;
    height: 30px;
    margin: 5px auto;
    background-color: #a4a4a4;
}